<!doctype html>
<html lang="en">

<head>
    <title>Profile</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Kit CSS -->
    <link href="assets/css/material-kit.css?v=2.0.5" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <!--can change color by changing the bg-danger-->
    <nav class="navbar fixed-top navbar-expand-lg bg-danger" color-on-scroll="100">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#">App Name </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/filter_rides">Findride </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create_rides">Createride </a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myRides_drivers">MyRides</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-body">
        <div class="container">
            <div class="card card-nav-tabs">
                <div class="card-header card-header-danger">
                    <strong>Profile</strong>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-2.5">
                            <h4 class="card-title">Personal Information</h4>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#editPersonalInfoModal">Edit</button>
                        </div>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><Strong>Name</Strong></td>
                                <td><%= data[0].username%></td>
                            </tr>
                            <tr>
                                <td><Strong>Phone</Strong></td>
                                <td><%= data[0].userphone%></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-row">
                        <div class="col-md-2.5">
                            <h4 class="card-title">Car Information</h4>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#editCarModal">Edit</button>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#addCarModal">Add</button>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#deleteCarModal">Delete</button>
                        </div>
                    </div>
                    <table class="table">
                        <tbody>
                            <% for(var i=0; i<data.length; i++) { %>
                            <tr>
                                <td>Car number</td>
                                <td><%= i+1%></td>
                            </tr>
                            <tr>
                                <td><Strong>Plate Number</Strong></td>
                                <td><%= data[i].platenumber%></td>
                            </tr>
                            <tr>
                                <td><strong>Brand</strong></td>
                                <td><%= data[i].carbrand%></td>
                                <td><Strong>Model</Strong></td>
                                <td><%= data[i].carmodel%></td>
                            </tr>
                            <tr>
                                <td><strong>Type</strong></td>
                                <td><%= data[i].cartype%></td>
                                <td><Strong>Color</Strong></td>
                                <td><%= data[i].carcolour%></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- pop up modal to edit personal info -->
    <div class="modal fade show" id="editPersonalInfoModal" tabindex="-1" role="dialog" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>
                    <form method="POST" action="profile_driver">
                        <div class="modal-title"><strong>Enter your new phone number</strong></div>
                        <input type="tel" id="phone" name="phone" minlength="8" maxlength="8" class="form-control"
                            placeholder="Phone Number...">
                        <button type="submit" class="btn btn-primary btn-round">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--pop up modal to edit car details-->
    <div class="modal fade show" id="editCarModal" tabindex="-1" role="dialog" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>
                    <form method="POST" action="update_car">
                        <div class="modal-title"><strong>Enter the platenumber of the car you want to edit</strong>
                        </div>
                        <p class="text-primary text-center">(please fill in all the fields)</p>
                        <div class="form-group">
                            <label for="platenumber">Plate Number</label>
                            <input type="text" id="platenumber" name="platenumber" minlength="8" maxlength="8"
                                class="form-control">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="carbrand">Car Brand</label>
                                <input type="text" id="carbrand" name="carbrand" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="carmodel">Car Model</label>
                                <input type="text" id="carmodel" name="carmodel" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="carcolor" id="carcolor">Car
                                    Color</label>
                                <input type="text" class="form-control" name="carcolor" id="color">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="cartype" class="bmd-label-floating text-center">Type</label>
                                <select id="cartype" name="cartype" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>5-seater</option>
                                    <option>7-seater</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-round">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--pop up modal to add new car-->
    <div class="modal fade show" id="addCarModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>
                    <form method="POST" action="insert_car">
                        <div class="modal-title"><strong>Add the details of your new car</strong>
                        </div>
                        <p class="text-primary text-center">(please fill in all the fields)</p>
                        <div class="form-group">
                            <label for="platenumber">Plate Number</label>
                            <input type="text" id="newplatenumber" name="newplatenumber" minlength="8" maxlength="8"
                                class="form-control">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="carbrand">Car Brand</label>
                                <input type="text" id="newcarbrand" name="newcarbrand" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="carmodel">Car Model</label>
                                <input type="text" id="newcarmodel" name="newcarmodel" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="carcolor" id="carcolor">Car
                                    Color</label>
                                <input type="text" class="form-control" name="newcarcolor" id="newcarcolor">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="cartype" class="bmd-label-floating text-center">Type</label>
                                <select id="newcartype" name="newcartype" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>5-seater</option>
                                    <option>7-seater</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-round">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- pop up modal to delete car-->
    <div class="modal fade show" id="deleteCarModal" tabindex="-1" role="dialog" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>
                    <form method="POST" action="delete_car">
                        <div class="modal-title"><strong>Enter the plate number of the car you want to delete</strong></div>
                        <input type="text" id="delplatenumber" name="delplatenumber" minlength="8" maxlength="8" class="form-control"
                            placeholder="Car platenumber..">
                        <button type="submit" class="btn btn-primary btn-round">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="assets/js/plugins/moment.min.js"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!--  Google Maps Plugin  -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script src="assets/js/material-kit.js?v=2.0.5" type="text/javascript"></script>
</body>

</html>